<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1>TITRE DE LA PAGE</h1>
  <p>
    Contenu de la page Contenu de la pageContenu de la pageContenu de la pageContenu de la pageContenu de la pageContenu de la page
    Contenu de la pageContenu de la pageContenu de la pageContenu de la page
    Contenu de la pageContenu de la pageContenu de la page
    Contenu de la pageContenu de la pageContenu de la page
    Contenu de la pageContenu de la page
    Contenu de la pageContenu de la pageContenu de la pageContenu de la pageContenu de la pageContenu de la pageContenu de la page
  </p>
</div>
